* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.name-email {
  display: flex;
  justify-content: space-between;
}
.button-text {
  display: flex;
  justify-content: space-between;
}
button {
  padding: 10px 20px;
  background-color: deepskyblue;
  border: 1px solid rgb(0, 153, 255);
  color: white;
  border-radius: 4px;
}
p {
  color: rgb(169, 169, 169);
}
.container-form {
  margin: 50px auto;
  height: 500px;
  width: 700px;
  padding: 20px;
  border: 1px solid black;
  background-color: #cccccc42;
}
.name-email input {
  width: 320px;
  height: 30px;
  margin-top: 10px;
}
.subject input {
  margin-top: 10px;
  width: 660px;
  height: 30px;
}
.message textarea {
  width: 660px;
  height: 300px;
  margin-top: 10px;
}
